{% extends "base2.html" %}

{% block head %}
<style>
    .animate-text {
        animation-name: slidein;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes slidein {
        from {
            opacity: 0;
            transform: translateX(-50%);
        }
        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }
</style>
{% endblock head %}

{% block body %}
<body style="background-image: url('../static/bg.jpg');
background-size: cover;
background-position: center;">
{% from "includes/formhelpers.html" import render_field %}
<div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row w-100">
        <div class="col text-center" style="font-size: 8rem; font-weight: bold;
    text-align: left;
    margin-left: -5rem;
    margin-top: auto;
    margin-bottom: auto;">
            <img src="../static/logo.png" width="150" height="150" style="margin-bottom: 5%; margin-left: 2%;">
            <span id="aegis" style="color:rgb(0, 0, 0)">AEGIS</span>
        </div>
        <div class="col-md-6">
            <div class="card border-primary" style="box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Login</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            {{ render_field(form.email, class="form-control", placeholder="Email") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.password, class="form-control", placeholder="Password") }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-purple btn-block">Login</button>
                        </div>
                    </form>
                    <hr>
                    <p class="text-center mb-0">Don't have an account? <a href="/register">Sign up now</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock body %}